In [1]:
# Import setup
import pandas as pd

In [2]:
# Create a list containing files for 2023 and 2024 we want to analyse 
files = ['Data/JC-202301-citibike-tripdata.csv',
         'Data/JC-202302-citibike-tripdata.csv',
         'Data/JC-202303-citibike-tripdata.csv',
         'Data/JC-202304-citibike-tripdata.csv',
         'Data/JC-202305-citibike-tripdata.csv',
         'Data/JC-202306-citibike-tripdata.csv',
         'Data/JC-202307-citibike-tripdata.csv',
         'Data/JC-202308-citibike-tripdata.csv',
         'Data/JC-202309-citibike-tripdata.csv',
         'Data/JC-202310-citibike-tripdata.csv',
         'Data/JC-202311-citibike-tripdata.csv',
         'Data/JC-202312-citibike-tripdata.csv',
         'Data/JC-202401-citibike-tripdata.csv',
         'Data/JC-202402-citibike-tripdata.csv']

In [3]:
# Create an empty dataframe to store all data
citibike_df = pd.DataFrame()

In [4]:
# Loop through the list of files and concatonate all data to the dataframe
for file in files:
    data = pd.read_csv(file) 
    citibike_df = pd.concat([citibike_df, data], axis=0)

In [5]:
# Show the dataframe
citibike_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55608,B4251D3376B59FF2,electric_bike,2024-02-25 09:38:44,2024-02-25 09:46:36,Bergen Ave & Sip Ave,JC109,Newark Ave,JC032,40.731154,-74.064473,40.721525,-74.046305,member
55609,513FF14445FD5A5E,electric_bike,2024-02-26 11:52:05,2024-02-26 12:00:49,Bergen Ave & Sip Ave,JC109,Newark Ave,JC032,40.730872,-74.064368,40.721525,-74.046305,member
55610,87DBD5B9091DFEC3,electric_bike,2024-02-05 17:05:38,2024-02-05 17:07:54,Montgomery St,JC099,Newark Ave,JC032,40.719487,-74.050998,40.721525,-74.046305,member
55611,8DD48EA418BCA621,electric_bike,2024-02-22 18:42:50,2024-02-22 18:46:39,York St & Marin Blvd,JC097,Newark Ave,JC032,40.719073,-74.043205,40.721525,-74.046305,member
55612,9F03340617826524,classic_bike,2024-02-28 08:39:10,2024-02-28 08:42:47,Dixon Mills,JC076,Newark Ave,JC032,40.721630,-74.049968,40.721525,-74.046305,member

In [6]:
# Store the dataframe as CSV file
citibike_df.to_csv('data/2023_2024city_bike_data.csv', index=False)

In [7]:
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1095125 entries, 0 to 55612
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1095125 non-null  object
 1   rideable_type       1095125 non-null  object
 2   started_at          1095125 non-null  object
 3   ended_at            1095125 non-null  object
 4   start_station_name  1095033 non-null  object
 5   start_station_id    1095033 non-null  object
 6   end_station_name    1091510 non-null  object
 7   end_station_id      1091510 non-null  object
 8   start_lat           1095125 non-null  float64
 9   start_lng           1095125 non-null  float64
 10  end_lat             1094134 non-null  float64
 11  end_lng             1094134 non-null  float64
 12  member_casual       1095125 non-null  object
dtypes: float64(4), object(9)
memory usage: 117.0+ MB

In [8]:
# cleaning data as we see different number of rows 

# Check for missing values
print(citibike_df.isnull().sum())

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name      92
start_station_id        92
end_station_name      3615
end_station_id        3615
start_lat                0
start_lng                0
end_lat                991
end_lng                991
member_casual            0
dtype: int64

In [9]:
# Convert datetime columns to datetime data type
citibike_df['started_at'] = pd.to_datetime(citibike_df['started_at'])
citibike_df['ended_at'] = pd.to_datetime(citibike_df['ended_at'])

In [10]:
# Remove duplicate rows
citibike_df.drop_duplicates(inplace=True)

In [11]:
# Handling missing values in categorical columns
citibike_df['start_station_name'].fillna('Unknown', inplace=True)
citibike_df['start_station_id'].fillna('Unknown', inplace=True)
citibike_df['end_station_name'].fillna('Unknown', inplace=True)
citibike_df['end_station_id'].fillna('Unknown', inplace=True)

# Handling missing values in numerical columns
citibike_df['end_lat'].fillna(citibike_df['end_lat'].mean(), inplace=True)
citibike_df['end_lng'].fillna(citibike_df['end_lng'].mean(), inplace=True)

In [12]:
# Check
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1095125 entries, 0 to 55612
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1095125 non-null  object
 1   rideable_type       1095125 non-null  object
 2   started_at          1095125 non-null  datetime64[ns]
 3   ended_at            1095125 non-null  datetime64[ns]
 4   start_station_name  1095125 non-null  object
 5   start_station_id    1095125 non-null  object
 6   end_station_name    1095125 non-null  object
 7   end_station_id      1095125 non-null  object
 8   start_lat           1095125 non-null  float64
 9   start_lng           1095125 non-null  float64
 10  end_lat             1095125 non-null  float64
 11  end_lng             1095125 non-null  float64
 12  member_casual       1095125 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 117.0+ MB

In [14]:
# Save the cleaned dataset
citibike_df.to_csv('city_bike_dataset.csv', index=False)

In [16]:
total_trips = len(citibike_df)